body {
  background: #f0f1f5;
  margin: 0;
  padding: 6rem 26rem;
  font-family: Helvetica, sans-serif;
}

header p {
  float: left;
  color: chocolate;
}

nav {
  text-align: right;
}

ul {
  float: right;
}

li {
  display: inline-block;
  padding: 0 8px;
  margin-left: 10px;
}

a {
  color: chocolate;
  text-decoration: none;
}

img {
  width: 50%;
  position: absolute;
  margin-left: 500px;
}
