body {
  margin: 0 auto;
  
}

header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  margin: 30px 130px;
}

main article {
    color: antiquewhite;
    font-size: x-large;
    text-align: right;
    margin-top: 50px;
    background-image: url("/ALX_9445.jpg");
    background-size: cover;
    background-position: center;
    padding: 14rem 21rem;
}

button {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 13px;
    border: 4px;
    border-radius: 25px;
}

button:hover {
    border-radius: 0;
    background-color: coral;
}

