body {
  margin: 0 auto;
  
}

header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  margin: 30px 130px;
}

main article {
    color: antiquewhite;
    font-size: x-large;
    text-align: right;
    margin-top: 50px;
    background-image: url("/ALX_9445.jpg");
    background-size: cover;
    background-position: center;
    padding: 14rem 21rem;
}

button {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 13px;
    border: 4px;
    border-radius: 25px;
}

button:hover {
    border-radius: 0;
    background-color: coral;
}

.Intro {
    height: 700px;
    background-color: darkolivegreen;
}

.Intro img {
    margin: 1px 10px 20px 100px;
    width: 500px;
    height: 700px;
}

.Intro article {
    text-align: right;
    margin-right: 400px;
    float: right;
    margin: 1px 240px 10px 10px;
    padding: 90px 10px;
}

.Intro article h1 {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Intro article p {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.fewImg {
    background-color: burlywood;
}

.fewImg ul {
    background-color: aqua;
    margin: 20px;
    
}

.fewImg li {
    width: 140px;
    height: 100px;
    display: inline-block;
    background-color: blueviolet;
    padding: 0px;
    margin: 100px 200px;
}

.fewImg li img{
    width: 380px;
    height: 550px;
    
}

.fewImg p {
    color: red;
    font-size: x-large;
}

