body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  margin: 30px 130px;
}

main article {
    color: antiquewhite;
    font-size: x-large;
    text-align: right;
    margin-top: 50px;
    background-image: url("/ALX_9445.jpg");
    background-size: cover;
    background-position: center;
    padding: 14rem 21rem;
}

button {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 13px;
    border: 4px;
    border-radius: 25px;
}

button:hover {
    border-radius: 0;
    background-color: coral;
}

section {
    height: 900px;
}

section img {
    margin: 50px 10px 20px 130px;
    width: 500px;
    height: 800px;
}

section article {
    text-align: right;
    margin-right: 400px;
    float: right;
    margin: 50px 240px 100px 10px;
    padding: 290px 10px;
}

section article h1 {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section article p {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



section ul li {
    display: inline-block;
   
}